<div class="row">
    <div class="column-50">
        <p class="column-header">Income Table</p>
        <app-income-table-component></app-income-table-component>
    </div>
    <div class="column-50">
        <p class="column-header">Expense Table</p>
        <app-expense-table-component></app-expense-table-component>
    </div>
</div>

<div class="row">
    <div class="column-50">
        <p class="column-header">Income Chart</p>
        <app-income-chart-component></app-income-chart-component>
    </div>
    <div class="column-50">
        <p class="column-header">Expense Chart</p>
        <app-expense-chart-component></app-expense-chart-component>
    </div>
    <div class="column-50">
        <p class="column-header">Income vs Expense Chart</p>
        <app-income-expense-comparison-component></app-income-expense-comparison-component>
    </div>
    <div class="column-50">
        <p class="column-header">Monthly Donations Chart</p>
        <app-donation-chart-component></app-donation-chart-component>
    </div>
</div>

<div class="row">
    <div class="column-100">
        <p class="column-header">Donor Table</p>
        <app-donor-table-component></app-donor-table-component>
    </div>
</div>