<div mat-dialog-title>Expense Form</div>

<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">

    <div class="form-content" mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Expense Name</mat-label>
                <input matInput type="text" placeholder="Ex. Expense Name" formControlName="expense_name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Payment Method</mat-label>
                <mat-select formControlName="payment_method">
                    <mat-option value="Cash">Cash</mat-option>
                    <mat-option value="Bank">Bank</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Expense Category</mat-label>
                <input matInput type="text" placeholder="Ex. Expense Category" formControlName="expense_category">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Payee Information</mat-label>
                <input matInput type="text" placeholder="Ex. Payee Information" formControlName="payee_information">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Amount</mat-label>
                <input matInput type="number" class="form-promise" placeholder="0" formControlName="expense_amount">
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.00</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date of Expense</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Ex. MM/DD/YYYY" formControlName="expense_date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Textarea</mat-label>
            <textarea matInput placeholder="Description" formControlName="expense_description"></textarea>
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="form-action">
        <button class="cancel-button" mat-raised-button type="reset">Cancel</button>
        <button class="save-button" mat-raised-button type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>

</form>