<div class="sidebar">
    <div class="sidebar-header">
        <img src="assets/logo/play_logo.png" alt="logo">
        <h3>Accounting</h3>
    </div>
    <ul class="sidebar-menu">
        <li class="menu-item">
            <a routerLink="">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="dashboard">dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="donor">
                <mat-icon aria-hidden="false" aria-label="People icon" fontIcon="people">people</mat-icon>
                <span>Donors</span>
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="income">
                <mat-icon aria-hidden="false" aria-label="Income icon" fontIcon="attach_money">attach_money</mat-icon>
                <span>Income</span>
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="expense">
                <mat-icon aria-hidden="false" aria-label="Income icon" fontIcon="money_off">money_off</mat-icon>
                <span>Expenses</span>
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="report">
                <mat-icon aria-hidden="false" aria-label="Income icon" fontIcon="description">description</mat-icon>
                <span>Reports</span>
            </a>
        </li>
    </ul>
</div>