.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1px;
    .column-selector,
    .filter-field {
        flex: 3;
        display: flex;
        align-items: center;
        margin-right: 16px;
        mat-form-field {
            width: 100%;
            // Optional: Increase padding for more space
            padding: 0 8px;
            mat-select {
                font-size: 14px;
            }
        }
    }
    .add-button {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}

.table-main {
    padding-top: 20px;
    margin: 0 auto;
    max-width: auto;
    mat-form-field {
        width: 100%;
    }
}

.action {
    button {
        display: flex;
        gap: 10px;
    }
}

td {
    text-transform: capitalize;
}

.table-container {
    /* Set a background color for odd rows */
    .mat-row:nth-child(odd) {
        background-color: #f5f5f5;
        /* Adjust the color as desired */
    }
    /* Set a background color for even rows */
    .mat-row:nth-child(even) {
        background-color: #e0e0e0;
        /* Adjust the color as desired */
    }
}